In [4]:
import pandas as pd
df = pd.read_csv("C:\\Users\\DELL\\Desktop\\Hr_Data.csv",delimiter="\t")
df.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [15]:
#df[["Age","YearsAtCompany"]].sort_value(by="Age").head(5)
result = df[["Age", "YearsAtCompany"]].sort_values(by="Age",ascending=False).head(5)
print(result)

      Age  YearsAtCompany
1209   60               1
427    60              18
536    60               2
411    60              29
879    60              11

In [27]:
df[df["Age"]>=50]["Department"].sort_values()

510     Human Resources
232     Human Resources
105     Human Resources
1401    Human Resources
112     Human Resources
             ...
608               Sales
561               Sales
539               Sales
749               Sales
1461              Sales
Name: Department, Length: 173, dtype: object

In [30]:
result = df[df["Age"] >= 50][["Age", "Department"]].sort_values(by=["Age", "Department"])

print(result)

      Age              Department
477    50         Human Resources
62     50  Research & Development
106    50  Research & Development
165    50  Research & Development
183    50  Research & Development
...   ...                     ...
411    60  Research & Development
1209   60  Research & Development
427    60                   Sales
536    60                   Sales
879    60                   Sales

[173 rows x 2 columns]

In [31]:
df.index

RangeIndex(start=0, stop=1470, step=1)