In [13]:
import pandas as pd
kenya_coffee=pd.DataFrame({
    "Cafe":["Thorn Tree","Java","Karomaindo"],
    "Coffe":["blended","experesso","maji"],

})
kenya_coffee

         Cafe      Coffe
0  Thorn Tree    blended
1        Java  experesso
2  Karomaindo       maji

In [14]:
preparation=pd.DataFrame({
    "Cafe":["Thorn Tree","Java","Karomaindo"],
    "Time":[3,4,6],

})
preparation

         Cafe  Time
0  Thorn Tree     3
1        Java     4
2  Karomaindo     6

## Use Merge function instead of Concat - Inner Join(Union)

In [16]:
df=pd.merge(kenya_coffee,preparation,on="Cafe")
df

         Cafe      Coffe  Time
0  Thorn Tree    blended     3
1        Java  experesso     4
2  Karomaindo       maji     6

In [17]:
df=pd.merge(kenya_coffee,preparation,how="outer")
df

         Cafe      Coffe  Time
0  Thorn Tree    blended     3
1        Java  experesso     4
2  Karomaindo       maji     6