In [2]:
import pandas as pd
import random

# Create a list of cities and dates
cities = ['New York', 'London', 'Nairobi']
dates = pd.date_range(start='2023-09-01', periods=5, freq='D')

# Create an empty DataFrame
data = []

# Generate random temperature, wind speed, and weather event data for each city and date
for city in cities:
    for date in dates:
        temperature = round(random.uniform(0, 35), 1)  # Temperature in Celsius
        wind_speed = round(random.uniform(0, 20), 1)    # Wind speed in km/h
        events = random.choice(['Clear', 'Rain', 'Snow', 'Cloudy', 'Sunny'])
        
        data.append([date, city, temperature, wind_speed, events])

# Create a DataFrame from the generated data
df = pd.DataFrame(data, columns=['Date', 'City', 'Temperature (C)', 'Wind Speed (km/h)', 'Events'])

# Print the DataFrame
print(df)

         Date      City  Temperature (C)  Wind Speed (km/h)  Events
0  2023-09-01  New York             33.6               16.1   Sunny
1  2023-09-02  New York             33.5                7.6    Rain
2  2023-09-03  New York             28.7               13.7    Snow
3  2023-09-04  New York             25.7                5.2    Snow
4  2023-09-05  New York             18.9                8.4   Sunny
5  2023-09-01    London             18.1               13.3    Snow
6  2023-09-02    London             22.6                2.6    Snow
7  2023-09-03    London              6.1               13.8   Clear
8  2023-09-04    London             25.1               12.3   Sunny
9  2023-09-05    London             30.7                3.0   Clear
10 2023-09-01   Nairobi             31.6               12.9  Cloudy
11 2023-09-02   Nairobi             26.4               18.1    Snow
12 2023-09-03   Nairobi             26.2                3.0  Cloudy
13 2023-09-04   Nairobi             14.0                5.9    Rain
14 2023-09-05   Nairobi             10.4                9.8    Rain

In [3]:
z =df.groupby("City")

In [4]:
for City, city_df in z:
    print(City)
    print(city_df)

London
        Date    City  Temperature (C)  Wind Speed (km/h) Events
5 2023-09-01  London             18.1               13.3   Snow
6 2023-09-02  London             22.6                2.6   Snow
7 2023-09-03  London              6.1               13.8  Clear
8 2023-09-04  London             25.1               12.3  Sunny
9 2023-09-05  London             30.7                3.0  Clear
Nairobi
         Date     City  Temperature (C)  Wind Speed (km/h)  Events
10 2023-09-01  Nairobi             31.6               12.9  Cloudy
11 2023-09-02  Nairobi             26.4               18.1    Snow
12 2023-09-03  Nairobi             26.2                3.0  Cloudy
13 2023-09-04  Nairobi             14.0                5.9    Rain
14 2023-09-05  Nairobi             10.4                9.8    Rain
New York
        Date      City  Temperature (C)  Wind Speed (km/h) Events
0 2023-09-01  New York             33.6               16.1  Sunny
1 2023-09-02  New York             33.5                7.6   Rain
2 2023-09-03  New York             28.7               13.7   Snow
3 2023-09-04  New York             25.7                5.2   Snow
4 2023-09-05  New York             18.9                8.4  Sunny

In [6]:
z.get_group("New York")

        Date      City  Temperature (C)  Wind Speed (km/h) Events
0 2023-09-01  New York             33.6               16.1  Sunny
1 2023-09-02  New York             33.5                7.6   Rain
2 2023-09-03  New York             28.7               13.7   Snow
3 2023-09-04  New York             25.7                5.2   Snow
4 2023-09-05  New York             18.9                8.4  Sunny

In [7]:
z.max()

               Date  Temperature (C)  Wind Speed (km/h) Events
City
London   2023-09-05             30.7               13.8  Sunny
Nairobi  2023-09-05             31.6               18.1   Snow
New York 2023-09-05             33.6               16.1  Sunny

In [8]:
z.mean()

          Temperature (C)  Wind Speed (km/h)
City
London              20.52               9.00
Nairobi             21.72               9.94
New York            28.08              10.20